<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/styles.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <title>Finances</title>
    </head>
    <body>
        <nav class="navbar navbar-expand">
            <div class="container-fluid">
                <span class="navbar-brand">Life</span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-nav">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav" id="navbar-nav">
                        <li class="nav-item">
                            <a href="/inventory" class="nav-link">Inventory</a>
                        </li>
                        <li class="nav-item">
                            <a href="/recipes" class="nav-link">Recipes</a>
                        </li>
                        <li class="nav-item">
                            <a href="/chores" class="nav-link">Chores</a>
                        </li>
                        <li class="nav-item">
                            <a href="/finances" class="nav-link active">Finances</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    </body>
</html>